* {
    margin: 0;
    font-family: Arial, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 113px;
}

.logo {
    background-image: url("Amazon-Logo-31.jpg");
    background-size: cover;
    background-color: #0f1111;
    height: 50px;
    width: 100%;
}
.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}

/* box2 */

.first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-select:hover {
    background-color: #cfcece;;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-icon:hover {
    background-color: #faac46;
}

.nav-search:active {
    border: 2px solid orange;
}

/* box4 */

.fa-language {
    width: 85px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #0f1111;
}

.nav-flag {
    width: 35px;
    height: 25px;
    margin: 0px 2px 1px 0px;
    background-image: url("illustration-usa-flag_53876-18165.avif");
    background-size: cover;
}

.lang {
    width: 35px;
    height: 25px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.lang-select {
    font-size: 1rem;
    font-weight: 700;
    width: 10px;
    height: 6px;
    color: white;
    background-color: #0f1111;
    border: none;
    display: flex;
    align-self: flex-end ;
    margin: 6px 0px 0px 2px;
    }
/* box5 */

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 */

.nav-cart i {
    font-size: 30px;
}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}


/** Panel **/

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 922.58px;
    font-size: 0.85rem;
}

.panel-deals {
    font: 0.9rem;
    font-weight: 700;
}

/** Hero Section **/

.hero-section {
    background-image: url("header1.jpg");
    background-size: cover;
    width: 1302.5px;
    height: 600px;
}

/** Shop Section **/

.shop-section {
    display: flex;
    justify-content: space-evenly;
    
}
 .box {
    background-color: white;
    width: 306.67px; 
    height: 360px;
    margin-top: 250px;
}  

.box1-image {
    background-size: cover;
    width: 280px;
    height: 276.41px;
    margin-left: 14px;
}
.box1-anch {
    color: #007185;
}
.shop-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.box3 {
    background-color: white;
    width: 306.67px; 
    height: 360px;
}  

.box2-image {
    background-size: cover;
    width: 280px;
    height: 276.41px;
    margin-left: 14px;
}
.box2-anch {
    color: #007185;
}
/* section2 */

.sec {
    background-color: #dddddd;;
    width: 306.67px; 
    height: 360px;
}  

.box2-image {
    background-size: cover;
    width: 280px;
    height: 276.41px;
    margin-right: 30px;
}
.box2-anch {
    color: #007185;
}
.section2 {
    display: flex;
    justify-content: space-evenly;
}
.box2 {
    background-color: #dddddd;;
    width: 306.67px; 
    height: 360px;
}  

.box2-image {
    background-size: cover;
    width: 280px;
    height: 276.41px;
}
.box2-anch {
    color: #007185;
}
a {
    text-decoration: none;
}
/* footer */

footer {
    margin-top: 15px;
}
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul {
    margin: 20px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin: 15px;
    color: #dddddd;
}
.foot-panel3 {
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-logo {
    background-image: url("download.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
   height: 76px;
   font-size: 0.7rem;
    text-align: center ;
}

.pages {
    padding-top: 25px;
}
.copyright {
    padding-top: 5px;
}